@model Space

<div class="container">
  
    <h1 class="my-3">@Model.Title</h1>

    <h4>By <a asp-area="" asp-controller="UserProfile" asp-action="Index"asp-route-id="@Model.AppUserId">@Model.AppUser.UserName </a></h4>

  <div class="row">
    <div class="col-md-8">
      <img src="@Model.Image" alt="" class="img-fluid">
    </div>

    <div class="col-md-4">
      <p>@Model.Description</p>
      <h3 class="my-3">Location</h3>

      <ul>
        <li>@Model.InitialPrice</li>
        <li>@Model.Country</li>
        <li>@Model.State</li>
        <li>@Model.City</li>
        <li>@Model.SpaceCategory</li>
      </ul>

    </div>
  </div>
</div>