@model IEnumerable<SpaceCardViewModel>

@{
    ViewData["Title"] = "Spaces";

    Pager pager = new Pager();
    int pageNO = 0;
    if (ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        pageNO = pager.CurrentPage;
    }
}



@* Search form *@

<div style="display: flex; width:100%; justify-content:space-between;">
    <form asp-action="Index" method="get">
        <label for="search">Search:</label>
        <input type="text" name="search" />
        <button type="submit">Search</button>
    </form>


    <div>
        total items : @pager.TotalItems
        number of items on the page : @pager.PageSize
        page number : @pager.CurrentPage
    </div>
</div>



@* Fitter by Price form *@
<form action="@Url.Action("Index")" method="get">
    <label for="minPrice">Min Price:</label>
    <input type="number" name="minPrice" step="0.01" />

    <label for="maxPrice">Max Price:</label>
    <input type="number" name="maxPrice" step="0.01" />

    <button type="submit">Filter</button>
</form>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            @foreach (var space in Model)
            {
                <partial name="_CardPartial" model="@space.space" />
            }
        </div>
    </div>
</div>






<partial name="_PagerPartial" model="@pager" />




